ion-content{
    --background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
  }
  @-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
  .container{
    -webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
    min-height: 300px;
    width: 100%;
    background-color: white;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
}
page-profile {
    .profile-picture{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;        
    }

    h1{
        text-align: center;
    }
}
ion-list.colores{
    background-color: #52E5E7;
}